# GCP Configuration
PROJECT_ID=project-f1be597b-8476-a2b
REGION=us-central1

# GCS Buckets Configuration - update as per the config.py
SOURCE_BUCKET=raw-pdfs
PDF_PREFIX=pdfs/
EMBED_BUCKET=aib-0821

# Vertex AI Matching Engine Configuration (Optional: overrides local .rag_config.json)
# INDEX_ID=
# ENDPOINT_ID=
